<%= form_with model: form, local: true, class: "new_shop mt-4" do |f| %>
  <div class="mb-3">
    <%= f.label :店舗名 %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :郵便番号 %>
    <%= f.text_field :postal_code, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :都道府県 %>
    <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name, { prompt: '選択してください' }, class: 'form-select' %>
  </div>
  <div class="mb-3">
    <%= f.label :市町村 %>
    <%= f.text_field :city, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :番地 %>
    <%= f.text_field :street, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :その他建物など %>
    <%= f.text_field :other_address, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :電話番号 %>
    <%= f.telephone_field :tel, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :予約は可能でしょうか？ %>
    <%= f.check_box :reservation, class: "form-check-input" %>
  </div>
  <div class="mb-3">
    <%= f.label :駐車場はありますか？ %>
    <%= f.check_box :parking, class: "form-check-input" %>
  </div>
  

  <%= f.submit '登録', class: "btn btn-primary" %>
<% end %>