<%= form_with model: form, data: { turbo: "false" }, class: "new_shop mt-4" do |f| %>
  <% if @form.errors.any? %>
    <div id="error_explanation" class="alert alert-danger mb-3">
      <ul class="mb-0">
        <% @form.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <%= render "image_preview", f: f, form: form  %>

  <div class="mb-3">
    <%= f.label :postal_code %>
    <%= f.text_field :postal_code, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :prefecture_code %>
    <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name, { prompt: '選択してください' }, class: 'form-select' %>
  </div>
  <div class="mb-3">
    <%= f.label :city %>
    <%= f.text_field :city, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :street %>
    <%= f.text_field :street, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :other_address %>
    <%= f.text_field :other_address, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :tel %>
    <%= f.telephone_field :tel, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :business_time, t("activerecord.attributes.business.business_time") %>
    <%= f.text_area :business_time, value: @form.business_time, placeholder: '例 月~金: 9:00~15:00, 17:00~21:00', class: "form-control", rows: "10" %>
  </div>
  <div class="mb-3">
    <%= f.label :reservation %>
    <%= f.check_box :reservation, class: "form-check-input" %>
  </div>
  <div class="mb-3">
    <%= f.label :parking %>
    <%= f.check_box :parking, class: "form-check-input" %>
  </div>
  <%= f.label :method_type, t("activerecord.attributes.payment.method_type") %>
  <%= f.collection_check_boxes :payment_ids, Payment.all, :id, :method_type do |b| %>
    <div>
      <%= b.label { b.check_box + b.text } %>
    </div>
  <% end %>
  </br>  
  <%= f.label :trait, t("activerecord.attributes.feature.trait") %>
  <%= f.collection_check_boxes :feature_ids, Feature.all, :id, :trait do |b| %>
    <div>
      <%= b.label { b.check_box + b.text } %>
    </div>
  <% end %>
  </br>
  <% if Rails.env.test? %>
    <%= f.submit '登録', class: "btn btn-primary" %>
  <% else %>  
    <%= f.button '登録', type: 'button', onclick: 'this.form.submit();', class: "btn btn-primary" %>
  <% end %>  
<% end %>