<div>
  <h3><%= shop.name %></h3>
  <div>住所：<%= shop.full_address %></div>
  <div>電話番号：<%= shop.tel %><div>
  <% if user_signed_in? %>
    <div class='d-flex my-2'>
      <%= link_to edit_shop_path(shop), id: "button-edit-#{shop.id}" do %>
        <i class='bi bi-pencil-fill'></i> 編集
      <% end %>
      <%= link_to shop_path(shop), id: "button-delete-#{shop.id}", class: "ms-2", data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') } do %>
        <i class="bi bi-trash-fill"></i> 削除
      <% end %>
    </div>
  <% end %> 
</div>