<% breadcrumb :shop_index %>
<div class="index-wrapper">
  <div class="container pt-3 index-page">
    <% if user_signed_in? %>
      <div class="text-end mb-3">
        <%= link_to '店舗登録ページはこちら', new_shop_path, class: "btn btn-outline-primary", role: 'button' %>
      </div>  
    <% end %>

    <h2 class="mb-5">店舗一覧</h2>

    <% if @shops.present? %>
      <% @shops.each do |shop| %>
        <div class="d-flex style="min-height: 150px;">
          
          <!-- 画像 -->
          <div style="flex: 0 0 25%;">
            <div class="index-photo">
              <%= image_tag shop.shop_image.present? ? shop.shop_image : 'noimage.png' %>
            </div>  
          </div>

          <!-- 文字 -->
          <div style="flex: 1; padding-left: 1rem;">
            <div class="d-flex">
              <h4>
                <%= link_to shop.name, shop_path(shop) %>
              </h4>

              <% if user_signed_in? %>
                <% if current_user.own?(shop) %>
                  <div class="ms-auto d-flex">
                    <div class='d-flex'>
                      <%= link_to edit_shop_path(shop), id: "button-edit-#{shop.id}", class: "me-2" do %>
                        <i class='bi bi-pencil-fill'></i> 編集
                      <% end %>
                      <%= link_to shop_path(shop), id: "button-delete-#{shop.id}", data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') } do %>
                        <i class="bi bi-trash-fill"></i> 削除
                      <% end %>
                    </div>
                  </div>
                <% end %>  
              <% end %>
            </div>

            <div>
              <%= "住所: #{shop.full_address}" %>
            </div>

            <div class="custom-line"></div>

            <% counts = @shop_counts[shop.id] %>
            <div>評価：</div>
            <div title="評価機能は後で実装予定です！お楽しみに！", class="star-size">☆☆☆☆☆</div>
            <div>登録パフェ： <%= counts&.parfaits_count || 0 %>件</div>
            <div>全レビュー数： <%= counts&.reviews_count || 0 %>件</div>
          </div>
        </div>  
        <div class="custom-line"></div>
      <% end %>
    <% else %>
      <div class="mb-3">店舗情報がありません</div>
    <% end %>
    <div class="p-2">
      <%= paginate @shops, theme: 'bootstrap-5' %>
    </div>  
  </div>
</div>