<header class="header">

  <div class="header-top">
    <div class="container-fluid d-flex">
      <%= link_to '/', class: 'navbar-brand ms-4' do %>
        <%= image_tag 'pafecolle_logo.png', alt: "パフェコレ", height: "80" %>
      <% end %>

      <ul class="navbar-nav flex-row align-items-center ms-auto">
        <% if user_signed_in? %>
          <li class='nav-item dropdown dropdown-slide'>
            <%= link_to '#', class: 'nav-link', data: { bs_toggle: 'dropdown' }, aria: { haspopup: 'true', expanded: 'false' }, id: 'header-profile' do %>
              <% if current_user.avatar.present? %>
                <%= image_tag current_user.avatar, class: 'rounded-circle mr15', width: '50', height: '50' %>
              <% else %>  
                <%= image_tag 'noimage.png', class: 'rounded-circle mr15', width: '50', height: '50' %>
              <% end %>
            <% end %>
            <div class='dropdown-menu dropdown-menu-end'>
              <div class='dropdown-item'><%= current_user.name %></div>
              <div class='dropdown-divider'></div>
              <%= link_to 'プロフィール', users_profile_path, class: 'dropdown-item' %>
              <%= link_to t('header.bookmark_index'), bookmarks_reviews_path, class: 'dropdown-item' %>
              <%= link_to 'ログアウト', destroy_user_session_path, class: 'dropdown-item', data: { turbo_method: :delete } %>
            </div>
          </li>
        <% else %>
          <li class='nav-item'>
            <%= link_to 'ログイン', new_user_session_path, class: 'btn btn-light me-2' %>
          </li>

          <li class='nav-item'>
            <%= link_to 'ユーザ登録', new_user_registration_path, class: 'btn btn-light me-2' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="header-mid">
    <% if current_page?(root_path) %>
      <div class="container-fluid justify-content-between px-4 header-illust d-none d-md-flex">
        <%= image_tag 'chestnut_illust.jpg', class: 'header-image my-3' %>
        <%= image_tag 'icecream_illust.jpg', class: 'header-image my-3' %>
        <%= image_tag 'parfait_illust.jpg', class: 'header-image my-3' %>
        <%= image_tag 'peach_illust.jpg', class: 'header-image my-3' %>
        <%= image_tag 'blueberry_illust.jpg', class: 'header-image my-3' %>
      </div>
    <% end %>
  </div>

  <div class="header-bottom">
    <div class="container-fluid d-flex justify-content-end mt-auto">
      <nav class='navbar navbar-expand-lg w-100'>
        <button class='navbar-toggler bg-light' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent'
          aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
          <span class='navbar-toggler-icon'></span>
        </button>
        
        <div class='collapse navbar-collapse px-3 py-3' id='navbarSupportedContent'>
          <ul class='navbar-nav ms-lg-auto main-nav align-items-center'>
            <li class='nav-item'>
              <%= link_to '口コミから探す', reviews_path, class: 'nav-link' %>
            </li>

            <li class='nav-item'>
              <%= link_to '店舗から探す', shops_path, class: 'nav-link' %>
            </li>

            <li class='nav-item'>
              <%= link_to '商品から探す', parfaits_path, class: 'nav-link' %>
            </li>

            <li class='nav-item'>
              <%= link_to 'ランキング', '#', class: 'nav-link' %>
            </li>

            
          </ul>
        </div>
        
      </nav>
    </div>
  </div>
</header>