<% if user_signed_in? %>
  <%= link_to 'このパフェのレビュー投稿はこちら', new_review_path(parfait_id: parfait.id), class: 'btn-info', role: 'button' %>
<% end %>
<div class="container pt-3">
  <div class="row">
    <% if reviews.present? %>
      <% reviews.each do |review| %>
        <div class="d-flex flex-row align-items-center py-3 border-top border-bottom">
          <div class="d-flex">
            <%= image_tag 'noimage.png', class: "card-img-left" %>
            <div class="card-body">
              <h4 class="card-title">
                <%= link_to review.title, '#' %>
              </h4>
              <% if user_signed_in? %>
                <div class='d-flex justify-content-end'>
                  <%= link_to '#', id: "button-edit-#{review.id}" do %>
                    <i class='bi bi-pencil-fill'></i>
                  <% end %>
                  <%= link_to review_path(review), id: "button-delete-#{review.id}", data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') } do %>
                    <i class="bi bi-trash-fill"></i>
                  <% end %>
                </div>
              <% end %>
              <ul class="list-inline">
                <li><i class="bi bi-person"></i><%= review.user.name %></li>
                <li><i class="bi bi-calendar"></i><%= l review.created_at, format: :short %></li>
              </ul>
              <p><%= link_to review.parfait.name, parfait_path(review.parfait) %></p>
              <p><%= simple_format(review.body) %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="mb-3">レビューがありません</div>
    <% end %>
  </div>
</div>   