<div class="pt-5">
  <h2>パフェ詳細</h2>
  <div class="top-top border-top border-bottom m-3">
    <div class="py-4">
      <div class="row">
        <div class="col-7">
          <% if parfait.parfait_image.attached? %>
            <div class="show-image">
              <%= image_tag(parfait.image_as_thumbnail) %>
            </div>
          <% else %>    
            <div class="show-image">
              <%= image_tag 'noimage.png' %>
            </div>
          <% end %>
        </div>
        <div class="col-5">
          <h3><%= parfait.name %></h3>
          <h5>店舗：<%= link_to parfait.shop.name, shop_path(parfait.shop) %></h5>
          <% if user_signed_in? %>
            <% if current_user.own?(parfait) %>
              <div class='text-end'>
                <%= link_to edit_parfait_path(parfait), id: "button-edit-#{parfait.id}", class: "me-2" do %>
                  <i class='bi bi-pencil-fill'></i> 編集
                <% end %>
                <%= link_to parfait_path(parfait), id: "button-delete-#{parfait.id}", class: "ms-2", data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') } do %>
                  <i class="bi bi-trash-fill"></i> 削除
                <% end %>
              </div>
            <% end %>
          <% end %>

          <div class="custom-line"></div>
          <% if parfait.is_limited? %> 
            <div>期間限定商品</div>
          <% else %>
            <div>レギュラー商品</div>
          <% end %>
          <div>価格帯：<%= parfait.price_i18n %></div>
          <p><%= simple_format(parfait.body) %></p>
        </div>
      </div>
    </div>  
  </div> 
</div>

