<div class="d-flex style="min-height: 150px;">
  <div style="flex: 0 0 25%;">
    <div class="index-photo">
      <%= image_tag review.review_images.present? ? review.review_images.last : 'noimage.png' %>
    </div>
  </div>  

  <div style="flex: 1; padding-left: 1rem;">
    <div class="d-flex">
      <h4>
        <%= link_to review.title, review_path(review) %>
      </h4>

      <div class="ms-auto">
        <% if user_signed_in? %>
          <% if current_user&.own?(review) %>
            <div class='d-flex'>
              <%= link_to edit_review_path(review), id: "button-edit-#{review.id}", class: "me-2" do %>
                <i class='bi bi-pencil-fill'></i> 編集
              <% end %>
              <%= link_to review_path(review), id: "button-delete-#{review.id}", data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') } do %>
                <i class="bi bi-trash-fill"></i> 削除
              <% end %>
            </div>  
          <% else %>
            <div>
              <% bookmark_count = bookmark_counts[review.id] || 0 %>
              <%= render 'shared/bookmark_buttons', review: review, bookmark_count: bookmark_count %>
            </div>    
          <% end %>
        <% end %>
      </div>
    </div>  
    <ul class="list-inline">
      <li><i class="bi bi-person"></i><%= review.user.name %></li>
      <li><i class="bi bi-calendar"></i><%= l review.created_at, format: :short %></li>
    </ul>

    <div class="custom-line"></div>
    <div><%= link_to review.parfait.name, parfait_path(review.parfait) %></div>
    <div title="評価機能は後で実装予定です！お楽しみに！">☆☆☆☆☆</div>
    <div class="custom-line"></div>
    <div class="review-body-preview">
      <%= simple_format(review.body) %>
    </div>
  </div>
</div>
<div class="custom-line"></div>
