<div class="show-wrapper">
  <div class="container show-page pt-3">
    <div class="py-4">
      <h2>レビュー詳細</h2>
      <% if @review.review_images.present? %>
        <div class="swiper">
          <div class="swiper-wrapper">
            <% @review.review_images.each do |image| %>
              <div class="swiper-slide">
                  <%= image_tag image, class: "swiper-image" %>
              </div>  
            <% end %>
          </div>
          <div class="swiper-pagination"></div>
          <div class="swiper-button-prev"><i class="bi bi-arrow-left-circle"></i></div>
          <div class="swiper-button-next"><i class="bi bi-arrow-right-circle"></i></div>
          <div class="swiper-scrollbar"></div> 
        </div>
      <% else %>    
        <div>
          <%= image_tag 'noimage.png', height: "400", class: "review-show-img" %>
        </div>
      <% end %> 
      <div class= "py-3 border-top border-bottom">
        <h3><%= @review.title %></h3>
        <div class='text-end'>
          <% if user_signed_in? %>
            <% if current_user&.own?(@review) %>
              <%= link_to edit_review_path(@review), id: "button-edit-#{@review.id}" do %>
                <i class='bi bi-pencil-fill'></i> 編集
              <% end %>
              <%= link_to review_path(@review), id: "button-delete-#{@review.id}", class: "ms-2", data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') } do %>
                <i class="bi bi-trash-fill"></i> 削除
              <% end %>
            <% else %>
                <%= render 'shared/bookmark_buttons', { review: @review, bookmark_count: @bookmark_count } %>
            <% end %>
          <% end %>
        </div>
        <h5>店舗：<%= link_to @review.parfait.shop.name, shop_path(@review.parfait.shop) %></h5>
        <div><%= link_to @review.parfait.name, parfait_path(@review.parfait) %></div>
        <div class="custom-line"></div>
        <p><%= simple_format(@review.body) %></p>
      </div>
    </div>
  </div>
</div>

